<div id='container'>
<!-- <div ng-include= " '/app/links/links.html' "> -->
<!-- </div> -->
 <!-- ng-controller="LinksController" -->
<form class="filter">
  <input type="text" ng-model="search">
    <div ng-repeat="link in data.links | filter:search | orderBy: '-visits'">
      <div class='info'>
        <div class='visits'><span class='count'>{{link.visits}}</span>Visits
        </div>
        <div class='title'>{{link.title}}
        </div>
        <div class='original'>{{link.url}}
        </div>
      <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
      </div>
    </div>
</form>
</div>


<!-- dynamically add links using ng shit -->

<!-- <div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username'>
    <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div> -->

<!-- 
  <form name="linksForm" ng-submit='getAll()'>
    <input type='text' ng-model="link">
    <button ng-click="addOne(link)">Add Link</button>
  </form>
  <ul>
    <li ng-repeat="link in links.data track by $index">{{link}}
    </li>
  </ul>  -->

  <!-- <a href="#/signup">Not signed in? <strong>SignIn</strong> ...</a> -->
